    <meta charset="utf-8">
    <p></p>
    <title1>The Art Gallery</title1>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/styleartgallery.css' %}">
    <script defer src="{% static 'js/buynow.js' %}"></script>
    <script defer src="{% static 'js/navbar.js' %}"></script>
</head>
    

<body id= "backgroundPic" p style="background-image: url('/media/backpichome.jpg');">  

         <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'art_gallery' %}">Art Gallery</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'my_collection' %}">My Collection</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In/Register</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a>
                </li>
            </ul>
            <form class="d-flex" action="{% url 'search' %}" method="get">
                <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>


    {% if messages %}
    <div class="container mt-3" style="padding-top: 80px;">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

{% load static %}

<div class="container" style="margin-left: 100px;">
    <h1 class="text-center my-4">The Art Gallery</h1>
       <div class="row">
            {% for art_piece in art_pieces %}
            <div class="col-md-6 mb-4 d-flex justify-content-center">
                <aside class="art-piece-container">
                        <div class="card" style="height: 100%; width: 100%;">
                            <div id="carouselExampleControls{{ forloop.counter }}" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner" style="object-fit: contain;">
                                    {% if art_piece.is_sold %}
                                    <div class="sold-tag">Sold</div>
                                    {% endif %}
                                    {% for image in art_piece.artpiece_images.all %}
                                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                        <img src="{{ image.images.url }}" class="d-block w-100 art-piece-image" alt="{{ art_piece.name }}">
                                    </div>
                                    {% endfor %}
                                    {% for video in art_piece.videos.all %}
                                    <div class="carousel-item {% if forloop.first and not art_piece.artpiece_images.all %}active{% endif %}">
                                        <video class="d-block w-100 art-piece-image" controls>
                                            <source src="{{ video.video.url }}" type="video/mp4">
                                        </video>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% if art_piece.is_on_auction is True  %}
                                    <div class="bid-tag">Bid</div>
                                {% endif %}
                                <a href="#" class="carousel-control-prev round" data-bs-target="#carouselExampleControls{{ forloop.counter }}" data-bs-slide="prev" style="font-size: 3rem;">&#8249;</a>
                                
                                <a href="#" class="carousel-control-next round" data-bs-target="#carouselExampleControls{{ forloop.counter }}" data-bs-slide="next" style="font-size: 3rem;">&#8250;</style></style></a>
                                
                              
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ art_piece.name }}</h5>
                                <p class="card-text">{{ art_piece.artist }}</p>
                                <p class="card-text">{{ art_piece.size }}</p>
                                <p class="card-text">{{ art_piece.year }}</p>
                                {% if not art_piece.is_sold %}
                                <div class="mb-3 d-flex justify-content-between">
                                    <a href="{% url 'buy_now' art_piece.id %}">
                                        <button class="buy-now-btnnn" data-art-id="{{ art_piece.id }}">
                                            Buy Now for ₪{{ art_piece.buy_now_price }}</button>
                                    </a>
                                    {% if art_piece.is_on_auction is True %}
                                    <a href="{% url 'bidd' art_piece.id %}">
                                        <button class="btn btn-secondary">Bid on Auction</button>
                                    </a>
                                {% endif %}
                                   
                                </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </aside>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
    
        // Buy Now button functionality
        document.addEventListener("DOMContentLoaded", function() {
            const buyNowButtons = document.querySelectorAll('.buy-now-btn');
            buyNowButtons.forEach(button => {
                button.addEventListener('click', function() {
                    const artId = this.getAttribute('data-art-id');
                    const purchaseUrl = `/api/buy-art/${artId}`; // Replace with the actual API endpoint URL
                    fetch(purchaseUrl, {
                        method: 'POST',
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            alert('Purchase successful!');
                        } else {
                            alert('Error occurred while purchasing the art piece.');
                        }
                    })
                    .catch(error => {
                        alert('Error occurred while purchasing the art piece.');
                    });
                });
            });
        });
    </script>
  {% load static %}



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
    <script>
        let lastScrollTop = 0;
        const navbar = document.querySelector('.navbar');
        window.addEventListener('scroll', function() {
            let scrollTop = window.pageYOffset || document.documentElement.scrollTop;
            if (scrollTop > lastScrollTop) {
                navbar.style.top = '-100px'; // Hide navbar by moving it
            } else {
                navbar.style.top = '0'; // Show navbar
            }
            lastScrollTop = scrollTop;
        });
    </script>


    <footer>
        <center>
            <script defer src="https://use.fontawesome.com/35be55a773.js"></script>
            <a href="{% url 'contact_us' %}">
                <div class="phone-number phone-number--below">
                    <i class="fa fa-envelope" aria-hidden="true"></i><center>Contact us</center>
                </div>
            </a>
        
        <p>
            <div id="footer1"> </div> All rights provided by copyright law reserved ©
        </p>
    </center>
    </footer>