
    {% extends 'base.html' %}
    <!-- Content block -->
    {% block content %}
        <div class="container py-5">
            <h1>{{ title }}</h1>
            <h2>Upcoming Auctions</h2>
            <ul class="list-group">
            {% for auction in auctions %}
                <li class="list-group-item">{{ auction.name }} - Minimum Price: {{ auction.minimum_price }}</li>
            {% empty %}
                <li class="list-group-item">No upcoming auctions.</li>
            {% endfor %}
            </ul>
        </div>
    {% endblock content %}
