
    {% extends 'base.html' %}
    <!-- Content block -->
    {% load static %}
    {% block content %}
        <script defer src="{% static 'js/register.js' %}"></script>
        <div class="container py-5">
            <h1>The online Art Gallery</h1>
        </div>
        </html>
        <body id= "backgroundPic" p style="background-image: url('/media/backpichome.jpg');">  
        </body>
        <!-- <p></p>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          
          <input type="hidden" name="next" value="{{ request.GET.next }}" />
          <button type="submit" class="btn btn-primary">Login</button>
          <a href="{% url 'register' %}" class="btn btn-primary">Register now</a>
        </form>
      {% endblock %} -->

    