{% extends 'base.html' %}
{% load static %}
{% block content %}
<body id= "backgroundPic" p style="background-image: url('/media/backpichome.jpg');">  
  <p></p>
  
    <h2 style="color: rgb(5, 36, 63);">Login</h2
      ><p></p>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ request.GET.next }}" />
    <button type="submit" class="btn btn-primary">Login</button>

    <a href="{% url 'register' %}" class="btn btn-primary">Register now</a>
  </form>
{% endblock %}
