{% block content %}
  <h2>Register</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register</button>
  </form>
{% endblock %}


<footer><center>
  <script defer src="https://use.fontawesome.com/35be55a773.js"></script>
  </head>
  <a href="contact_us">
    <div class="phone-number phone-number--below">
        <i class="fa fa-phone" aria-hidden="true"></i><center>contact us</center></span>
    </div>
</a>
  </footer></center>

  <footer> 
    <p> <div id="footer1"> </div> All rights provided by copyright law reserved © </p>
  </footer>