#backgroundPic {
    background-position: center;
  }
    
/* .navbar-nav .nav-link {
    color: black;
    font-size: 17px;
    padding: 14px 16px;
}

.navbar-nav .nav-link:hover {
    background-color: #ddd;
}

.navbar-brand,
.btn-outline-success {
    color: black;
    font-size: 17px;
    padding: 14px 16px;
}

.navbar-brand:hover,
.btn-outline-success:hover {
    background-color: #ddd;
}

.navbar-nav .active {
    background-color: #2196F3;
    color: white;
} */

.form-control {
    padding: 6px;
    font-size: 17px;
}

@media screen and (max-width: 600px) {
    .navbar-nav .nav-link,
    .form-control {
        padding: 14px;
        text-align: left;
        width: 100%;
    }

    .form-control {
        border: 1px solid #ccc;
    }
}
  
body {
    background: scroll;
    height: fit-content;
    width: fit-content;
     
    }
  
footer {
    background: linear-gradient(780deg,  #c2d4e2, #2D5CFE);
    padding: 10px;
    text-align: center;
    color: white
    
  }
  