#backgroundPic {
    background-position: center;
}

h1 {
    scroll-behavior: auto;
    color: rgb(0, 0, 0);
    margin: 10px
  }

  .row {
    margin-bottom: 100px;
}

.form-control {
    padding: 6px;
    font-size: 17px;
}

@media screen and (max-width: 600px) {
    .navbar-nav .nav-link,
    .form-control {
        padding: 14px;
        text-align: left;
        width: 100%;
    }

.form-control {
    border: 1px solid #ccc;
    }
}

body {
    background-attachment: scroll;
    height: fit-content;
    width: fit-content;
}


.card-body {
    background-color: #dfcec0; 
}



.art-piece-image {
    height: 300px;
    width: 200px;
    object-fit: contain;
  }


.carousel-inner img {
    height: 300px; 
    width: 200px;
}



.carousel-control-prev {
    left: 0;

}

.carousel-control-next {
    right: 0;
 

}
.sold-tag {
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 10%;
    background-color: rgba(241, 83, 83, 0.7);
    color: rgb(15, 14, 14);
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
}

  .art-piece-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    border: 5px solid black;
    margin: 100px; /* Add margin to separate the art pieces */
}

/* .art-piece-image {
    height: 300px;
    width: 200px;
    object-fit: cover;
} */

/* .carousel-item {
    height: 300px; 
    width: 200px;
} */
/* .art-piece-container .card {
    margin-bottom: 0;
} */
.carousel-inner {
    margin-bottom: 0;
}
.card-body {
    padding-top: 0;
}
.mb-3 {
    margin-bottom: 0 !important;
}
